.card {
    border: 1px var(--ifm-color-primary) solid;
    margin: 5px;
    width: 270px;
}

.header {
    height: 20%;
    background: var(--ifm-color-primary);
    color: white;
    text-align: center;
}

.container {
    padding: 2px 10px;
}
